.enter-event-kunekt-button {
  width: 70px;
  height: 30px;
  outline: none;
  margin-left: 0px;
  font-size: 0.8em;
  font-weight: bold;
  cursor: pointer;
}
.enter-event-form span.required {
  display: block;
}
.enter-event-textfield {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
}
.enter-event-lower-half {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  height: 90px;
}

.enter-event-lower-half-tour {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  height: 90px;
}

.enter-event-event-details {
  flex: 18;
}

#join-event {
  flex: 7;
  font-size: 0.7em;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}

.enter-event-kunekt-tour {
  flex: 18;
  padding-right: 5px;
}

.enter-event-kunekt-logo {
  max-height: 200px;
  max-width: 180px;
  height: auto;
  width: auto;
  margin: auto;
}

.enter-event-container {
  height: 83%;
  width: 85%;
  padding: 20px;
  overflow: scroll;
}
