.form {
  height: 100%;
  width: 100%;
}
.title {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 33px;
  background-color: #333333;
  color: #ffffff;
  padding-left: 22px;
}
.sb-btn {
  background-color: #333333;
  color: #ffffff;
  width: 90px;
  height: 30px;
  outline: none;
  margin-left: 22px;
  font-size: 00.8em;
  font-weight: bold;
  cursor: pointer;
}
.textfield {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  background-color: rgb(219, 219, 219);
}
.prefieldLink {
  color: rgb(73, 73, 73);
  padding-left: 3px;
  padding-right: 2px;
  padding-top: 7px;
  font-size: 0.7em;
  flex: 8;
}

#socialTextField {
  flex: 17;
}

.create-event-container {
  height: 100%;
  width: 100%;
}

.new-event-container {
  margin: auto;
  padding: 20px;
}

#new-event-items {
  margin-left: auto;
  margin-right: auto;
  width: 99%;
  padding-bottom: 5px;
  display: flex;
}

#share-button {
  margin: auto;
  width: auto;
}

.event-info-border {
  border: 1px solid gray;
  padding: 10px;
}
