
 .user-div{
   margin: auto;
   width:auto;
   padding: 50px 40px;
 }

 .core
 {
   display: block;
 }

 .bubble
 {
  width: 100%;
  position: relative;
  height: 150px;
  background-color: rgb(255, 255, 255);
  background: white;
  background: linear-gradient(22.5deg, rgba(2, 2, 2, 0.02) 0%, rgba(2, 2, 2, 0.02) 9%,rgba(252, 252, 252, 0.02) 9%, rgba(252, 252, 252, 0.02) 36%,rgba(237, 237, 237, 0.02) 36%, rgba(237, 237, 237, 0.02) 69%,rgba(78, 78, 78, 0.02) 69%, rgba(78, 78, 78, 0.02) 77%,rgba(85, 85, 85, 0.02) 77%, rgba(85, 85, 85, 0.02) 95%,rgba(43, 43, 43, 0.02) 95%, rgba(43, 43, 43, 0.02) 100%),linear-gradient(90deg, rgba(63, 63, 63, 0.02) 0%, rgba(63, 63, 63, 0.02) 8%,rgba(151, 151, 151, 0.02) 8%, rgba(151, 151, 151, 0.02) 53%,rgba(17, 17, 17, 0.02) 53%, rgba(17, 17, 17, 0.02) 56%,rgba(215, 215, 215, 0.02) 56%, rgba(215, 215, 215, 0.02) 65%,rgba(202, 202, 202, 0.02) 65%, rgba(202, 202, 202, 0.02) 79%,rgba(208, 208, 208, 0.02) 79%, rgba(208, 208, 208, 0.02) 100%),linear-gradient(67.5deg, rgba(129, 129, 129, 0.02) 0%, rgba(129, 129, 129, 0.02) 13%,rgba(71, 71, 71, 0.02) 13%, rgba(71, 71, 71, 0.02) 16%,rgba(51, 51, 51, 0.02) 16%, rgba(51, 51, 51, 0.02) 18%,rgba(86, 86, 86, 0.02) 18%, rgba(86, 86, 86, 0.02) 90%,rgba(227, 227, 227, 0.02) 90%, rgba(227, 227, 227, 0.02) 91%,rgba(30, 30, 30, 0.02) 91%, rgba(30, 30, 30, 0.02) 100%),linear-gradient(90deg, #FFF,#FFF);
  border-bottom: 2px solid rgb(63, 63, 238);
 }

 .bubble-contents
{
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-flex;
}

.portrait
{
  position: relative;
  margin-top: 25px;
  margin-left: 25px;
  height: 100px;
  width: 100px;
  background-color: rgb(63, 63, 238);
  font-size: 80px;
  text-align: center;
  line-height: 130px;
  border-radius: 50%;
  color: white;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.27);
  -moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.27);
  box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.27);
}

.details
{
  padding: 20px;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

html, body, #app, #app>div {
  height: 100%
}
  
  /* General Animations */
  .fadein-slow {
    animation: fadein 4s;
  }
  
  .fadein-fast {
    animation: fadein 2s;
  }
  
  @keyframes fadein {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
  }
  
  /* card */
  .card {
    background-color: whitesmoke;
    border-radius: 3%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    word-wrap: break-word;
    width: 215px;
    height: 100%;
    margin-bottom: 20px;
    transition: .5s;
  }
  
  .card:hover {
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.45);
  }
  
  .close {
    border-radius: 50%;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    float: right;
    top: -228px;
    right: -6px;
    font-size: 2em;
    position: relative;
    color: whitesmoke;
    transition: .5s;
  }
  
  .close:hover {
    cursor: pointer;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  }
  
  img {
    width: 100%;
    border-radius: 3% 3% 0 0;
  }

  .negitive-margin {
      margin-top: -45px;
  }
  
  h4 {
    font-size: 1.2em;
    margin: 15px;
    color: #757575;
  }
  
  @keyframes pulse-icon {
      from {
        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
      }
      to {
        text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.55);
      }
  }
  
  @keyframes pulse-colors {
      from {
        background: #c9c3e6;
        border: 3px solid #a29ccc;
      }
      to {
        background: #6762a6;
        border: 3px solid #c9c3e6;
      }
  }

.float-left {
    float: left;
}

.inlineBlock {
    display: inline-block;
}
  
  /* Button reset */
.custom-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  
  /* Shared button styles */
  .button-wrapper {
    display: inline-block;
  }
  
  .custom-button {
    border-radius: 50%;
    width: 215px;
    height: 215px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
    transition-timing-function: ease-in;
    transition: 0.3s;
    transform: scale(0.7);
  }
  
  .custom-button:hover {
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
  }
  
  .custom-button.disabled {
    background-color: #999 !important;
    cursor: no-drop;
  }
  
  .custom-button.disabled:hover {
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
  }
  
  .custom-button.disabled:hover span {
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
  }
  
  .custom-button span {
    font-size: 10em !important;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
    color: whitesmoke;
  }

  .custom-button span.close {
    font-size: 4em !important;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
    color: whitesmoke;
  }
  
  .custom-button:hover span {
    text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
    transform: rotate(-1.1deg)
  }
  
  /* Twitter */
  .custom-button.twitter {
    border: 3px solid #ffffff;
    background: #433e90
  }
  
  .custom-button.twitter:hover {
    background: #326ada;
  }
  
  /* Google */
  .custom-button.google {
    border: 3px solid #ffffff;
    background: #0057e7;
  }
  
  .custom-button.google:hover {
    background: #008744;
  }
  
  /* Facebook */
  .custom-button.facebook {
    border: 3px solid #ffffff;
    background: #8b9dc3;
  }
  
  .custom-button.facebook:hover {
    background: #3b5998;
  }
  
  /* Github */
  .custom-button.github {
    border: 3px solid #ffffff;
    background: #767676;
  }
  
  .custom-button.github:hover {
    background: #6e5494;
  }